@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: 0;
}
html {
    min-height: 100%;
}
body {
    background-image: linear-gradient(to right bottom, #1857b7, #008ae1, #00b5cb, #00d782, #a8eb12);
    

}
.container {
    border-radius:8px;
    box-shadow: #021025 0px 0px 15px;
    position: absolute;
    width: 460px;
    height: 620px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
h1{
    margin: 12px 0;
}
.add-todo{
    margin: 12px 0;
}
input{
    padding: 6px 4px;
    width: 70%;
    border-radius: 4px;
    color: #1857B7;
    background:  #e6e1e1;
}
button{
    padding: 7px 14px;
    background-color: #00b0ff;
    border: none;
    border-radius: 4px;
    color: #fafafa;
}
.list{
    height: 550px;
}
ul{
    padding: 15px;
    
}
li{
    
    list-style: none;
    padding: 10px 5px;
    background-color: #f899eb;
    margin: 12px 0;
    box-shadow: 0 2px 8px rgba(0,0,0,.16);
    border-radius: 8px;
    transition: .4s;
}

button:hover{
    background-color: #1565c0;
}
li:hover{
    background-color: #FF7799;
    border-radius:8px;
    box-shadow: #021025 0px 0px 6px;
}

.delete{
 float: right;
 background-color: #022f44;
}
.delete:hover{
    background-color: #e21a56;
}

